# Exercises

  1. Use the `range()` function to make a list of the odd numbers from 1 to 20. **Hint** in ipython and this notebooks you can see a functions help text by executing for example `range?`
  2. Create a list with the even number values from two to one million. Use `min()` and `max()` to make sure your list actually starts at two and ends at one million. Also, use the `sum()` function to compute the sum of all values. Time the execution time using `%timeit`.
  3. Create a list of the multiples of 3 - going from 3 to 300. **HINT: USE A LIST COMPREHENSION**
  4. A number raised to the third power is called a cube. For example, the cube of 2 is written as `2**3` in Python. Create a list of the first 10 cubes (that is, the cube of each integer from 1 through 10).

### 1

In [5]:
odd_nums = []
for i in range(21) :
    if i % 2 != 0 : odd_nums.append(i)
odd_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 2

In [5]:
import timeit

even_nums = range(2, 1000001,2);

lowest = min(even_nums)
higest = max(even_nums)
print('Min = 2? ', lowest == 2)
print('Max = 1.000.000?', higest == 1000000)
print('Sum: ', sum(even_nums))

print('Timing one way')
def totime(lownum, highnum):
    even_nums = []
    for i in range(lownum, highnum): 
        if i % 2 == 0: even_nums.append(i)
            
%timeit totime(2, 1000001)

cmd = """
even_nums = []
for i in range(2, 1000001): 
    if i % 2 == 0: even_nums.append(i)"""
print('Timing the other way', timeit.timeit(cmd, number=10))

Min = 2?  True
Max = 1.000.000? True
Sum:  250000500000
Timing one way
70.1 ms ± 609 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
Timing the other way 0.6953718999999978

### 3

In [18]:
multiple3 = [val*3 for val in range(3, 301)]
print(multiple3)

[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900]

### 4

In [19]:
cube3 = [val **3 for val in range(1,11)]
print(cube3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]